<% layout('layout') -%>
<h1><%= user.first %> <%= user.last%></h1>
<pre>
   <%for (var x in user) {
   if (x !== 'identities') {%>
   <%= x %>: <%= user[x] %>
   <%}}%>
</pre>
<h2>User Login</h2>
<ul>
   <%for(var i = 0; i < user.identities.length; ++i) {%>
   <li>
   <pre>
   <%for (var x in user.identities[i]) { %>
   <%= x %>: <%= user.identities[i][x] %>
   <%}%>
   </pre>
   </li>
   <%}%>
</ul>